{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;">
<main class="form-signin w-100 m-auto">
  <form style="width: 512px; display: inline-block;">
    <img class="mb-4" src="https://www.svgrepo.com/show/487533/login-bracket.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Подтверждение пароля</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегестрироваться</button>
  </form>
</main>
</div>
{% endblock content %}